@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import url('https://websfont.github.io/gmarket/gmarket.css');

@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredericka+the+Great&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

@font-face {
    font-family: 'AfricaTrial-Rainfall';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/AfricaTrial-Rainfall.woff2') format('woff2');
    font-display: swap;
}