#skill {
    background-color: var(--black);
    padding: 10vw;
    margin: auto;

    .sec__title {
        font-size: 16px;
        text-align: left;
        color: #999;
        padding-bottom: 12%;
    }

    .sec__msg {
        font-family: var(--fontNGL);

        .desc2 {
            padding: 0 0 10% 40%;
            word-break: keep-all;
            font-size: 16px;
            line-height: 1.7;
            color: var(--white);
            font-family: var(--fontKor);
        }
    }

    .skillWrap {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        gap: 20px;

        .skill {
            position: relative;
            perspective: 1000px;
            width: 100%;
            aspect-ratio: 1 / 1;

            .num {
                position: absolute;
                left: 20px;
                top: 20px;
                font-size: 16px;
                color: #555;
            }

            .front,
            .back {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: transform 1s;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                border-radius: 20px;
                padding: 7%;
                border: 1px solid #363636;
                font-family: "Almendra Display", serif;
                font-size: 45px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
            }

            .back {
                transform: rotateY(-180deg);
                font-weight: 100;
                font-family: var(--fontG);

                p {
                    font-size: 40px;
                }
            }

            &:hover {
                .front {
                    transform: rotateY(180deg);
                }

                .back {
                    transform: rotateY(0);
                }
            }

            &:nth-child(2) .front h3 {
                font-family: "Sixtyfour", sans-serif;
                letter-spacing: -5px;
            }

            &:nth-child(3) .front h3 {
                font-family: "Bungee Shade", sans-serif;
                font-size: 35px;
                line-height: 100%;
                letter-spacing: 1.5px;
            }

            &:nth-child(4) .front h3 {
                font-family: "Fredericka the Great", serif;
            }

            &:nth-child(5) .front h3 {
                font-family: "Codystar", sans-serif;
                font-size: 45px;
            }

            &:nth-child(6) .front h3 {
                font-family: "Griffy", system-ui;
                font-size: 45px;
            }

            &:nth-child(7) .front h3 {
                font-family: "Rubik Puddles", system-ui;
                font-size: 45px;
            }

            &:nth-child(8) .front h3 {
                font-family: "Rubik Glitch", system-ui;
                letter-spacing: 5px;
            }

            &:nth-child(9) .front h3 {
                font-family: "Moirai One", system-ui;
                font-size: 45px;
                letter-spacing: 2px;
            }

            &:nth-child(10) .front h3 {
                font-family: "Foldit", sans-serif;
            }

            &:nth-child(11) .front h3 {
                font-family: "Rubik Beastly", system-ui;
                font-size: 40px;
                line-height: 120%;
            }

            &:nth-child(12) .front h3 {
                font-family: "Splash", cursive;
                font-size: 35px;
            }
        }
    }
}